header {
    width: 100%;
    min-height: 5%;
    background-color: hsl(240, 60%, 40%);
    color: aliceblue;
    padding: 10px;

    display: flex;
    justify-content: center;

}

main {
    background-color: bisque;
    padding: 0 10px;
}